{{> head }}

    {{> navbar }}

    <div class="jumbotron">
        <div class="container">
            <h1>Hola, {{ capitalizar nombre }}!!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Leer más</a></p>
        </div>
    </div>

{{> footer }}